@charset "utf-8";
/*   CSS Document   */
/* -*- DATA:CSS -*- */

/*
  Created by Yubin Ruan
  http://walkerlala.github.io
*/

/* Times News Roman */
@font-face {
    font-family: 'customTNR';
    src: url('../fonts/times.ttf');
}
@font-face {
    font-family: 'customConsolas';
    src: url('../fonts/Consolas YaHei hybrid.ttf');
}

@font-face {
    font-family: 'customAdobe';
    font-style: 'normal';
    font-weight: 'normal';
    src: url('../fonts/AGaramondPro-Regular.otf');
}

html{overflow-y: scroll;}

body{
    margin:0;
    padding:5px 0px 0px 0px;
    color: #000000;
    background:rgb(239, 239, 239);
    font-family:'Consolas', "customConsolas", sans-serif;
    font-size: 12pt;
    font-weight:normal;
    text-align:justify;
}

#wrap{
    margin:0 auto;
    padding:0;
    width:900px;
}

#main{
    margin: 3px 0px 0px 0px;
    padding:0px 32px 8px 32px;
    float:left;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid rgb(204, 204, 204);
    width:834px;
}

#top{
    margin:0;
    padding:0;
    height: 103px;
    background: #E0E1E2;
    font-family: 'Times New Roman', 'High Tower Text', customTNR, serif;
    font-weight:normal;
}

.logo{
    font-size:50px;
    font-weight:normal;
    display: inline-block;
    margin-top: 0px;
    width: 900px;
}

.logo_main_text{
    font-size:50.5px;
    font-weight:normal;
    display: inline-block;
    color:#606468;
    margin-top: 1px;
}

.logo_text{
    font-size:30.5px;
    font-weight:normal;
    display: block;
    margin-top: 18px;
    margin-bottom: 0px;
    color:#606468;
}

.logo_img{
    height: 63px;
    margin-top: 10px;
    margin-left: 9px;
    margin-right: 13px;
}

/* navigator tabs */
.top_nav{
    margin:0;
    padding:0;
    padding-left:0px;
    font-family: 'Times New Roman', 'High Tower Text', customTNR, serif;
    font-size:15px;
    font-weight:bold;
    opacity: 0.75;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background:#000000;!28323B;
    height: 27px;
    width: 900px;
    text-align:right;
    white-space:nowrap;
}

.tab0 {
    margin:0;
    color:#EEEEEE;
    text-decoration: none;
    float:left;
    outline: none;
    line-height:28px;
}

.tab0 a{
    margin:0;
    padding:5.5px 12px 6px 12px;
    color:#CCCCCC;
    text-decoration: none;
    outline: none;
}

.tab0 a:hover{
    margin:0;
    color:#EEEEEE;
    text-decoration: none;
    background:#303438;
    outline: none;
}

.tab0.active {
    margin:0;
    padding:0;
    text-decoration: none;
    float:left;
    outline: none;
    opacity: 1.0;
    line-height:28px;
}

.tab0.active a{
    margin:0;
    padding:5.5px 12px 6px 12px;
    color:#FFFFFF;
    !font-weight:bold;
    text-decoration: none;
    background:#28323B;
    outline: none;
}

.tab0.active a:hover{
    margin:0;
    text-decoration: none;
    background:#48525B;
    outline: none;
}

#footer{
    margin:0;
    padding:8px 8px 8px 8px;
    font-size: 90%;
    text-align: center;
    opacity: 0.99;
}

a.faq:link
      { text-decoration: none; color: #0000A0; }
a.faq:visited
      { text-decoration: none; color: #800000; }

PRE {font-family: "Courier New", monospaced; color: rgb(0, 40, 100);
     font-size: 11pt; font-weight: normal; background-color: #F2F2F2;}
TT  {font-family: "Courier New", monospaced; color: rgb(0, 30, 120);
     font-size: 12.0pt; font-weight: normal;}
CODE{font-family: "Courier New", monospaced; color: rgb(0, 60, 120);
     font-size: 12.0pt; font-weight: normal;}

table{
    border: 1px solid rgb(180, 180, 180);
    !padding: 0px 0px 0px 0px;
    font-size: 11.5pt;
}

td{
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 2px 4px 8px;
}

th{
    border-width: 1;
    border-style: solid;
    text-align: left;
    padding: 4px 2px 4px 8px;
    border-color: #FFFFFF;
    background-color: #C0C0C0;
}

.LastModified {
  /*background-color: grey;*/
    font-size: 10pt;
    font-weight: normal;
  /*block-size: 10px;*/
}

.CommentsTitle{
    margin: 2px 0px 0px 0px;
    float:left;
    color: #000000;
    background: #FFFFFF;
    width:834px;
}

.visit-this-page {
  /*background-color: grey;*/
    font-size: 12px;
    font-weight: normal;
  /*block-size: 10px;*/
}

.lang-block-zh {
    position: relative;
    left: 750px;
    top: -60px;
    margin: 0px 0px 0px 0px;
}

.lang-link-zh {
    color: #fff;
    border: 1px solid #9c6b6b;
    padding: 1px 4px 2px;
    text-transform: uppercase;
    opacity: .9;
    size: 2em;
    transition: opacity .3s ease-out;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
}

