    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:36
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-film-reel:before { content: "\f100"; }
.flaticon-game-console:before { content: "\f101"; }
.flaticon-headphones:before { content: "\f102"; }
.flaticon-laptop:before { content: "\f103"; }
.flaticon-memory-card:before { content: "\f104"; }
.flaticon-microphone:before { content: "\f105"; }
.flaticon-microphone-1:before { content: "\f106"; }
.flaticon-microphone-2:before { content: "\f107"; }
.flaticon-microphone-3:before { content: "\f108"; }
.flaticon-microphone-4:before { content: "\f109"; }
.flaticon-microphone-5:before { content: "\f10a"; }
.flaticon-monitor:before { content: "\f10b"; }
.flaticon-monitor-1:before { content: "\f10c"; }
.flaticon-monitor-2:before { content: "\f10d"; }
.flaticon-monitor-3:before { content: "\f10e"; }
.flaticon-photo-camera:before { content: "\f10f"; }
.flaticon-photo-camera-1:before { content: "\f110"; }
.flaticon-smartphone:before { content: "\f111"; }
.flaticon-smartphone-1:before { content: "\f112"; }
.flaticon-smartphone-2:before { content: "\f113"; }
.flaticon-smartphone-3:before { content: "\f114"; }
.flaticon-smartphone-4:before { content: "\f115"; }
.flaticon-smartphone-5:before { content: "\f116"; }
.flaticon-smartphone-6:before { content: "\f117"; }
.flaticon-tablet:before { content: "\f118"; }
.flaticon-tablet-1:before { content: "\f119"; }
.flaticon-telephone:before { content: "\f11a"; }
.flaticon-usb:before { content: "\f11b"; }
.flaticon-usb-1:before { content: "\f11c"; }
.flaticon-video-camera:before { content: "\f11d"; }
    
    $font-Flaticon-film-reel: "\f100";
    $font-Flaticon-game-console: "\f101";
    $font-Flaticon-headphones: "\f102";
    $font-Flaticon-laptop: "\f103";
    $font-Flaticon-memory-card: "\f104";
    $font-Flaticon-microphone: "\f105";
    $font-Flaticon-microphone-1: "\f106";
    $font-Flaticon-microphone-2: "\f107";
    $font-Flaticon-microphone-3: "\f108";
    $font-Flaticon-microphone-4: "\f109";
    $font-Flaticon-microphone-5: "\f10a";
    $font-Flaticon-monitor: "\f10b";
    $font-Flaticon-monitor-1: "\f10c";
    $font-Flaticon-monitor-2: "\f10d";
    $font-Flaticon-monitor-3: "\f10e";
    $font-Flaticon-photo-camera: "\f10f";
    $font-Flaticon-photo-camera-1: "\f110";
    $font-Flaticon-smartphone: "\f111";
    $font-Flaticon-smartphone-1: "\f112";
    $font-Flaticon-smartphone-2: "\f113";
    $font-Flaticon-smartphone-3: "\f114";
    $font-Flaticon-smartphone-4: "\f115";
    $font-Flaticon-smartphone-5: "\f116";
    $font-Flaticon-smartphone-6: "\f117";
    $font-Flaticon-tablet: "\f118";
    $font-Flaticon-tablet-1: "\f119";
    $font-Flaticon-telephone: "\f11a";
    $font-Flaticon-usb: "\f11b";
    $font-Flaticon-usb-1: "\f11c";
    $font-Flaticon-video-camera: "\f11d";